@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;

}

.profile-bg{
flex-shrink: 0;
border-radius: 8.889px;
border: 0.889px solid #FFF;
background: #1E2875;
}
.banner-bg{
  background: linear-gradient(to bottom, #FFFFFF 30%, #05467E 30%);
}

.borders{
  border-radius: 8.889px;
  border: 0.889px solid #413B89;
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px rgba(0, 0, 0, 0.10);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
